/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1, h2 {
    color: #003366;  /* Azul oscuro */
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

/* Estilo de formularios */
form {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #003366;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #003366;  /* Azul oscuro */
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #002244;  /* Un poco más oscuro */
}

button[type="button"] {
    background-color: #ffcc00;  /* Amarillo */
    color: #003366;
    margin-right: 10px;
}

button[type="button"]:hover {
    background-color: #e6b800;  /* Amarillo oscuro */
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f4f7f6;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #003366;
}

/* Campos de medicamentos dinámicos */
#medication_fields input {
    margin-bottom: 10px;
}
